*{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html{
  box-sizing: border-box;
}

body{
  display: grid;
  place-content: center;
  min-height: 100vh;
  background-color: #1bbc45;
}

img{
  max-width: 100%;
}

.gallery{
  padding: 2rem;
}

.gallery__img{
  display: block;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 5px;
}

.gallery__img:not(:last-child){
  margin-bottom: 2rem;
}

@media only screen and (min-width:31.25em){
  
  .gallery{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
  }
  
  .gallery__img{
    flex: 1;
    width: 15rem;
  }

  .gallery__img:not(:last-child){
    margin-bottom: 0;
  }
}